<!DOCTYPE html>
<html  ng-app="timesheetApp">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'></link>
  <link rel='stylesheet' href='/stylesheets/bootstrap.theme.css'></link>

  <script src="/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/jq/index.js"></script>

  <style type="text/css">
  .hidden {
    display: none;
  }
  </style>

  <style>
  DIV.table 
  {
    display:table;
  }
  FORM.tr, DIV.tr
  {
    display:table-row;
  }
  SPAN.td
  {
    display:table-cell;
  }
  input[type="text"]:read-only{
    background :#EEE;

  }
  </style>

 
</head>
<body>
    <script type="text/javascript" src="https://cdn-creativesdk.adobe.io/v1/csdk.js"></script>
    

    
       <script>
           /* 1) Initialize the AdobeCreativeSDK object */
           AdobeCreativeSDK.init({
               /* 2) Add your Client ID (API Key) */
               clientID: '0852217fce404c58aa4a949ba270f499',
               onError: function (error) {
                   /* 3) Handle any global or config errors */
                   if (error.type === AdobeCreativeSDK.ErrorTypes.AUTHENTICATION) {
                       /* 
                           Note: this error will occur when you try 
                           to launch a component without checking if 
                           the user has authorized your app. 
                           
                           From here, you can trigger 
                         
                       */
                       AdobeCreativeSDK.loginWithRedirect().
                       console.log('You must be logged in to use the Creative SDK');
                   } else if (error.type === AdobeCreativeSDK.ErrorTypes.GLOBAL_CONFIGURATION) {
                       console.log('Please check your configuration');
                   } else if (error.type === AdobeCreativeSDK.ErrorTypes.SERVER_ERROR) {
                       console.log('Oops, something went wrong');
                   }
               }
           });
    </script>
   <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


</body>


</html>
