<!DOCTYPE html>
<html  ng-app="timesheetApp">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'></link>
  <link rel='stylesheet' href='/stylesheets/bootstrap.theme.css'></link>

  <script src="/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/jq/index.js"></script>

  <style type="text/css">
  .hidden {
    display: none;
  }
  </style>

  <style>
  DIV.table 
  {
    display:table;
  }
  FORM.tr, DIV.tr
  {
    display:table-row;
  }
  SPAN.td
  {
    display:table-cell;
  }
  input[type="text"]:read-only{
    background :#EEE;

  }
  </style>

 
</head>
<body>
   <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>


</html>
